# Definindo codificação dos arquivos como UTF-8
* text=auto eol=lf

# Arquivos configuração YAML e JSON
*.yml    text
*.yaml   text
*.json   text

# Arquivos log 
logs/*    linguist-generated

# Arquivos de ambiente 
.env      linguist-generated

# Arquivos binários como binários 
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.svg    binary

# Arquivos de código fonte
*.js     text
*.ts     text
*.json   text
*.css    text
*.scss   text
*.html   text

# Arquivos de texto markdown
*.md     text

# Arquivos de teste
*.test.js text
*.spec.js text
